{
  "id": "opencoral",
  "postgres_password": "postgres",
  "coraldba_password": "coraldba",
  "reader_password": "readerpass",
  "storepass": "storepass-1234",
  "keypass": "keypass-1234",
  "coral_user_password": "coral"
}
